@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import './base.css';
@import './tailwind.css';

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-background-light, --default-color-background);
  color: var(--color-text, --default-color-text);
}

body {
  background-color: var(--color-background-light, --default-color-background);
  font-family: var(--font-bellota-text), system-ui;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bellota), sans-serif;
}

.collection-enter-active,
.collection-leave-active {
  @apply transition-all duration-250 ease-in-out;
}

.collection-enter-from,
.collection-leave-to {
  @apply translate-y-4 opacity-0;
}

.collection-move {
  @apply transition-transform duration-250;
}
