@import url('../fonts/Bellota-Regular.ttf');
@import url('../fonts/BellotaText-Regular.ttf');
@import 'tailwindcss';

/* TODO: for testing purposes, remove this before release */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-bellota: 'Bellota', sans-serif;
  --font-bellota-text: 'Bellota Text', sans-serif;

  --color-background: #f9f9f9;
  --color-background-alt: #ffffff;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-accent: #4c9feb;

  --color-primary: #f7dc6f;
  --color-primary-tint: #ffff99;
  --color-primary-shade: #666600;

  --color-secondary: #87ceeb;
  --color-secondary-tint: #add8e6;
  --color-secondary-shade: #03055b;

  --color-accent: #ff69b4;
  --color-accent-tint: #ffc0cb;
  --color-accent-shade: #660033;
}

@layer theme {
  .dark {
    --color-background: #1a1d23;
    --color-background-alt: #2f4f4f;
    --color-text-primary: #ffffff;
    --color-text-secondary: #b2b2b2;
    --color-text-accent: #66d9ef;

    --color-primary: #3b82f6;
    --color-primary-tint: #60a5fa;
    --color-primary-shade: #2563eb;

    --color-secondary: #34c759;
    --color-secondary-tint: #8bc34a;
    --color-secondary-shade: #1a3d00;

    --color-accent: #ff9900;
    --color-accent-tint: #ffd7be;
    --color-accent-shade: #663300;
  }
}
