@import url('../fonts/Bellota-Regular.ttf');
@import url('../fonts/BellotaText-Regular.ttf');
@import 'tailwindcss';

/* TODO: for testing purposes, remove this before release */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-bellota: 'Bellota', sans-serif;
  --font-bellota-text: 'Bellota Text', sans-serif;

  --color-primary: #f9f9d7;
  --color-primary-light: #fbfbe6;
  --color-primary-dark: #d4d474;

  --color-secondary: #a3e0ad;
  --color-secondary-light: #b8f3b7;
  --color-secondary-dark: #7dcd8b;

  --color-accent: #ada3e0;
  --color-accent-light: #c1b9f1;
  --color-accent-dark: #7f7bc0;

  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-light: #ffffff;

  --color-background-light: #fbfbe6;
  --color-background-dark: #d4d474;

  --color-border: #dddddd;
}

@layer theme {
  .dark {
    --font-bellota: 'Bellota', sans-serif;
    --font-bellota-text: 'Bellota Text', sans-serif;

    --color-primary: #f9f9d7;
    --color-primary-light: #fbfbe6;
    --color-primary-dark: #d4d474;

    --color-secondary: #a3e0ad;
    --color-secondary-light: #b8f3b7;
    --color-secondary-dark: #7dcd8b;

    --color-accent: #ada3e0;
    --color-accent-light: #c1b9f1;
    --color-accent-dark: #7f7bc0;

    --color-text-primary: #e0e0e0;
    --color-text-secondary: #b3b3b3;
    --color-text-light: #121212;

    --color-background-light: #121212;
    --color-background-dark: #1e1e1e;
  }
}