@import 'tailwindcss';

/* TODO: for testing purposes, remove this before release */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-bellota: 'Bellota';
  --font-bellota-text: 'Bellota_Text';

  --color-primary: #f9f9d7;
  --color-primary-light: #fbfbe6;
  --color-primary-dark: #d4d474;

  --color-secondary: #86d693;
  --color-secondary-light: #94ed92;
  --color-secondary-dark: #65c476;

  --color-accent: #9386d6;
  --color-accent-light: #a295ea;
  --color-accent-dark: #6a66b6;

  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-light: #ffffff;

  --color-background-light: #fcfcee;
  --color-background-dark: #f7f7cc;

  --color-border: #f7f7cd;
}

@layer theme {
  .dark {
    --color-primary: #f9f9d7;
    --color-primary-light: #fbfbe6;
    --color-primary-dark: #d4d474;

    --color-secondary: #a3e0ad;
    --color-secondary-light: #b8f3b7;
    --color-secondary-dark: #7dcd8b;

    --color-accent: #ada3e0;
    --color-accent-light: #c1b9f1;
    --color-accent-dark: #7f7bc0;

    --color-text-primary: #e0e0e0;
    --color-text-secondary: #b3b3b3;
    --color-text-light: #121212;

    --color-background-light: #313131;
    --color-background-dark: #313131;

    --color-border: #585858;
  }
}
